<form class="navbar-form navbar-left" role="search">
    <h4>
        An item is an object in the games which the player can pick up, keep in their bag, and use in some manner.
        They have various uses, including healing, powering up, helping catch Pokémon, or to access a new area.
    </h4><br />
    <div class="input-group">
        <input id="input-item-search" class="thread-title form-control" placeholder="Item name" />
        <span class="input-group-btn">
            <button id="btn-item-search" class="btn btn-danger" type="submit">Search</button>
        </span>
    </div>
</form>
