<form class="navbar-form navbar-left" role="search">
    <h4>
        Pokémon are the creatures that inhabit the world of the Pokémon games.
        They can be caught using Pokéballs and trained by battling with other Pokémon.
    </h4><br />
    <div class="input-group">
        <input id="input-pokemon-search" class="thread-title form-control" placeholder="Pokemon name" />
        <span class="input-group-btn">
            <button id="btn-pokemon-search" class="btn btn-danger" type="submit">Search</button>
        </span>
    </div>
</form>